/* stylelint-disable */
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `block-borderlate` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
block-borderlate {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't atblock-bordert to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v19-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v19-cyrillic_latin-regular.woff") format("woff"); }

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/DINPro.woff") format("woff"); }

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  min-height: 100%;
  font-family: "DIN Pro", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  letter-spacing: -0.03em; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.intro {
  position: relative;
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100%;
  background-position: bottom;
  min-height: 1080px; }
  .intro__title {
    padding-top: 12%;
    padding-bottom: 2%;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #222222; }
  .intro__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 2.4%;
    color: #4A4556; }
  .intro__btn {
    width: 215px;
    text-decoration: none;
    font-size: 16px;
    line-height: normal;
    position: relative; }
    .intro__btn:hover::after {
      width: 236px; }
    .intro__btn::before {
      content: url(../img/plus.svg);
      position: absolute;
      width: 14px;
      height: 14px;
      left: 12px;
      top: 8px; }
    .intro__btn::after {
      content: "";
      position: absolute;
      width: 54px;
      height: 54px;
      background: #878787;
      opacity: 0.05;
      border-radius: 111px;
      left: -8px;
      top: -8px;
      transition: width 0.4s cubic-bezier(0, 0, 1, 1); }

.selected {
  color: #F47821; }

* {
  margin: 0;
  padding: 0; }

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  color: #222222;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  transition: all .2s;
  padding: 7px 40px;
  display: block;
  margin: 0 auto; }

.motivation {
  background-color: #F7F5FA; }
  .motivation-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 67.5%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #EDEDED;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  .motivation__item {
    width: 36.9%;
    padding: 5% 7% 6% 6%;
    position: relative;
    overflow: hidden; }
    .motivation__item::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-radius: 100%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      opacity: 0; }
    .motivation__item:hover::before {
      -webkit-animation: circle .75s;
              animation: circle .75s; }
    .motivation__item:nth-child(2n+1) {
      border-right: 1px solid #EDEDED; }
    .motivation__item:nth-child(-n+2) {
      border-bottom: 1px solid #EDEDED; }
    .motivation__item-title {
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding-bottom: 12px;
      color: #F47821; }
    .motivation__item-text {
      font-family: "DIN Pro", "Arial", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: normal;
      letter-spacing: -0.03em; }

@-webkit-keyframes circle {
  0% {
    opacity: .5;
    background: rgba(244, 120, 33, 0.1); }
  40% {
    opacity: 1;
    background: rgba(244, 120, 33, 0.1); }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }

@keyframes circle {
  0% {
    opacity: .5;
    background: rgba(244, 120, 33, 0.1); }
  40% {
    opacity: 1;
    background: rgba(244, 120, 33, 0.1); }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }

.matching {
  width: 54%;
  margin: 0 auto; }
  .matching__title {
    margin-top: 5.5%;
    margin-bottom: 5%;
    font-size: 48px;
    line-height: normal;
    letter-spacing: -0.02em; }
  .matching__text {
    margin-bottom: 7%;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4E4D53; }

.advantages {
  background-color: #F7F5FA; }
  .advantages__title {
    padding-top: 10%;
    padding-bottom: 7%;
    font-size: 40px;
    line-height: normal;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000; }
  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10%; }
  .advantages__item {
    width: 30%;
    position: relative;
    padding-top: 82px; }
    .advantages__item::before {
      content: url(../img/wallet.svg);
      position: absolute;
      width: 50px;
      height: 52px;
      top: -5px; }
    .advantages__item::after {
      content: "";
      position: absolute;
      width: 43px;
      height: 2px;
      top: 126px;
      background: #F47821; }
    .advantages__item-title {
      font-size: 20px;
      padding-bottom: 50px;
      line-height: normal;
      color: #000000; }
    .advantages__item-text {
      font-family: Roboto;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: #4E4D53; }

.about-you {
  background: #161616;
  color: #fff; }
  .about-you__title {
    padding-top: 7%;
    padding-bottom: 4%;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.02em; }
    .about-you__title a {
      color: #fff; }
      .about-you__title a:hover {
        color: #F47821; }

.form {
  width: 47%;
  margin: 0 auto;
  padding-bottom: 8%; }
  .form input {
    width: 86%;
    margin-left: 14%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #F7F5FA;
    padding: 12px 0;
    margin-bottom: 9%; }
    .form input:hover {
      border-bottom: 2px solid #fff; }
  .form textarea {
    width: 86%;
    margin-left: 14%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #F7F5FA;
    padding: 12px 0;
    margin-bottom: 9%;
    resize: none; }
    .form textarea:hover {
      border-bottom: 2px solid #F7F5FA; }
  .form label {
    width: 86%;
    display: block;
    margin-left: 14%;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.01em;
    position: relative;
    color: #FFFFFF; }
    .form label::before {
      content: "";
      position: absolute;
      width: 64px;
      height: 64px;
      left: -92px;
      top: -20px;
      opacity: 0.23;
      border: 1px solid #FFFFFF;
      border-radius: 32px; }
    .form label::after {
      position: absolute;
      font-family: Roboto;
      font-weight: 500;
      font-size: 20px;
      left: -64px;
      top: 0;
      color: #F47821; }
  .form .form__btn {
    padding: 2.5% 0;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #F47821;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 111px; }
    .form .form__btn:hover {
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
      color: #fff;
      background: #F47821;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9); }

label[for=name]::after {
  content: "1"; }

label[for=mail]::after {
  content: "2"; }

label[for=tel]::after {
  content: "3"; }

label[for=about]::after {
  content: "4"; }

@media (max-width: 1024px) {
  .intro {
    min-height: 800px; } }

@media (max-width: 768px) {
  h1 {
    font-size: 35px; }
  p {
    font-size: 14px; }
  h2 {
    font-size: 30px; }
  .motivation__item-text {
    font-size: 17px; }
  .motivation__item {
    width: 100%;
    border-bottom: 1px solid #EDEDED; }
  .advantages__list {
    flex-wrap: wrap; }
  .advantages__item {
    width: 45%; }
  .form {
    width: 80%; } }

@media (max-width: 500px) {
  .intro__title {
    font-size: 25px; }
  .advantages__item {
    width: 100%; }
  .intro {
    min-height: 500px; }
  .motivation-container {
    width: 80%; }
  .matching {
    width: 80%; }
  .form label {
    width: 100%;
    margin-left: 0; }
    .form label::after {
      display: none; }
    .form label::before {
      display: none; }
  .form input, .form textarea {
    width: 100%;
    font-size: 14px;
    margin-left: 0; } }
