.about-you {
	background: #161616;
	color: #fff;
	&__title {
		padding-top: 7%;
		padding-bottom: 4%;
		
		font-size: 40px;
		line-height: 52px;
		text-align: center;
		letter-spacing: -0.02em;

		& a {
			color: #fff;
			&:hover {
				color: #F47821;
			}
		}
	}
}
.form {
	width: 47%;
	margin: 0 auto;
	padding-bottom: 8%;

	& input {
		width: 86%;
		margin-left: 14%;
		border: 0;
	  outline: 0;
	  background: transparent;
	  border-bottom: 1px solid #F7F5FA;
	  padding: 12px 0;
	  margin-bottom: 9%;
	  &:hover {
	  	border-bottom: 2px solid #fff;
	  }
	}
	& textarea {
		width: 86%;
		margin-left: 14%;
		border: 0;
	  outline: 0;
	  background: transparent;
	  border-bottom: 1px solid #F7F5FA;
	  padding: 12px 0;
	  margin-bottom: 9%;
	  resize: none;
		
		&:hover {
			border-bottom: 2px solid #F7F5FA;
		}
	}
	& label {
		width: 86%;
		display: block;
		margin-left: 14%;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: -0.01em;
		position: relative;

		color: #FFFFFF;

		&::before {
			content: "";
			position: absolute;
			width: 64px;
			height: 64px;
			left: -92px;
			top: -20px;
			opacity: 0.23;

			border: 1px solid #FFFFFF;
			border-radius: 32px;
		}
		&::after {
			position: absolute;
			font-family: Roboto;
			font-weight: 500;
			font-size: 20px;
			left: -64px;
			top: 0;
			color: #F47821;
		}
	}
	& .form__btn {
		padding: 2.5% 0;
		font-size: 14px;
		line-height: normal;
		letter-spacing: 0.04em;
		text-transform: uppercase;

		color: #F47821;
		background: #fff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
		border-radius: 111px;

		&:hover {
			transform: scale(1.02);
			color: #fff;
			background: #F47821;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
		}
	}
}
label[for=name]::after {
	content: "1";
}
label[for=mail]::after {
	content: "2";
}
label[for=tel]::after {
	content: "3";
}
label[for=about]::after {
	content: "4";
}