@import "../variables/colors";

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  color: $main-font-color;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  transition: all .2s;
  padding: 7px 40px;
  display: block;
  margin: 0 auto;

}